/*
 * #%L
 * Play SQL Sign-Off
 * %%
 * Copyright (C) 2016 Play SQL S.A.S.U.
 * %%
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 *      http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * #L%
 */
#signoff-button.signed-same-version,
.content-navigation .ajs-menu-bar .ajs-button a.signed-same-version > span > span.aui-icon,
.content-navigation .ajs-menu-bar .ajs-menu-item a.signed-same-version > span > span.aui-icon {
    background-color: #14892c;
    border-color: #14892c;
    color: #fff;
    opacity: .8;
}

#signoff-button.signed-other-version,
.content-navigation .ajs-menu-bar .ajs-button a.signed-other-version > span > span.aui-icon,
.content-navigation .ajs-menu-bar .ajs-menu-item a.signed-other-version > span > span.aui-icon {
    /* background-color: transparent; */
    border-color: #14892c;
    color: #14892c;
}

#signoff-button.signoff-requested,
.content-navigation .ajs-menu-bar .ajs-button a.signoff-requested > span > span.aui-icon,
.content-navigation .ajs-menu-bar .ajs-menu-item a.signoff-requested > span > span.aui-icon {
    background-color: #ffd351;
    border-color: #594300;
    color: #594300;
}

#inline-dialog-signoff-detail .contents {
    overflow: auto;
}

#inline-dialog-signoff-detail .contents th, #inline-dialog-signoff-detail .contents td {
    white-space: nowrap;
}

.signoff-usericon {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    vertical-align: middle;
    display: inline-block;
    margin: 2px 4px 2px 0;
}